@model Auth.Models.Post

@{
    ViewBag.Title = "Create Post";
}

<div class="container mt-5">

    <div class="card shadow-lg">

        <div class="card-header bg-dark text-white">
            <h4>Create Post</h4>
        </div>

        <div class="card-body">

            <form method="post">

                <div class="mb-3">
                    <label>Post Title</label>
                    <input type="text" name="Title" class="form-control" required />
                </div>

                <div class="mb-3">
                    <label>Content</label>
                    <textarea name="Content" class="form-control" rows="6" required></textarea>
                </div>

                <button class="btn btn-success">
                    Publish Post
                </button>

            </form>

        </div>

    </div>

</div>